body{
    background-color: rgba(136, 125, 125, 0.2);
    margin: 0px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
}

.main-screen{
    background-color: white;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    max-width: 600px;
    box-shadow: 0px 0px 12px 10px gray;
    border-radius: 6px;
    padding: 20px;
}

.weather-title{
    font-size: 30px;
    font-weight: 600;
    justify-content: space-around;
    width: 100%;
}

.weather-image{
    width: 100px;
    height: 100px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.input-and-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.input-city-name{
    border: none;
    align-items: stretch;
    font-size: 18px;
    padding: 10px;
    outline: none;
    width: 60%;
}

.get-weather-button{
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: rgb(17, 74, 248);
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color .05s ease;
}

.get-weather-button:hover{
    background-color: rgba(17, 74, 248,0.75); ;
}

.weather-status {
    font-weight: 600;
    font-size: 42px;
    margin: 5px auto;
}

.weather-description{
    font-weight: 600;
    font-size: 30px;
    margin: 10px auto;
}

.weather-mathematical-discription{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.weather-mathematical-discription > div{
    flex: 1;
    margin: 10px;
    text-align: center;
    min-height: 45px;
}

.weather-desc{
    background-color: rgb(191, 189, 189);
    border-radius: 4px;
    padding: 15px 12px 20px 12px;
}

.weather-mathematical-discription p{
    display: inline;
    margin-right: 5px;
}
.no-such-city{
    font-size: 20px;
    font-weight: 500;
    color: red;
}

.admin{
    margin-top: 50px;
    text-align: center;
}
.user{
    height: 50px;
    width: 50px;
    border-radius: 10px;
}